# Environment variables
.env
.env.*
!.env.example

# Backend environment files
backend/.env
backend/.env.*
!backend/.env.example

# Dependencies
backend/node_modules/
frontend/node_modules/

# Build files
frontend/dist/
backend/dist/

# Logs
*.log
npm-debug.log*